.tituloPrincipal{

    text-align: center;
    padding-left: 100px;
}


.borde{

   overflow: hidden;
    padding-left: 20px;
}



#banner{


    width: 70%;
    box-sizing: border-box;
    border-color: black;
    margin: 0 18%;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    
    


}

.principal{

    background: #cccccc;
    padding: 20px;
}

.tituloCentralizado{

    text-align: center;
  

}


p{
    text-align: center;
    background: #cccccc;
}

em strong{

    color : red;
}

#mision{

    font-size: 20 px;
}

.diferenciales{

    background: #ffffff;
    padding: 30px;
}


.items{

    font-style: italic;
}

ul{

    display: inline-block; 
    vertical-align: top;
    width: 20%;
    margin-right: 15%;


}


.imagen2{

    width: 50%;
    margin: 0 1.5%;
    box-sizing: border-box;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}
